<!DOCTYPE html>

<html>

<head>
    <title>
        Weather
    </title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>Use this input to specify City you'd like to get weather forecast for.</p>

        <form>
            <input placeholder="Location (city)">
            <button>Search</button>
            <button id="my-location" class="my-location">Get forecast for my location</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>


    <footer>
        {{>footer}}
    </footer>
    <script src="./js/app.js"></script>
</body>

</html>